<% include ../partials/header %>
       <div class="container-fluid" style="padding:20px;">
        <div class="row">
            <div class="col-md-6">
                    <img src="https://scontent.fbkk1-5.fna.fbcdn.net/v/t1.0-9/44345757_2259763460762324_2370147263864373248_n.jpg?_nc_cat=111&_nc_ht=scontent.fbkk1-5.fna&oh=8790e50b3f4af685d08c304f2abdd5c5&oe=5C5274C6"  class="img-thumbnail rounded-circle text-center" style="width:60%;margin:10%;" alt="Kawfang Chaweewan">
            </div>
            <div class="col-md-6 text-left" style="margin:5%;">
            <h5><%= fullname%></h5>
            <h6 >5930213025</h6>
            <h6 >Software Engineering</h6>
            <h6>
            <ul>
                <% hobbies.forEach(function(hobbies){%>
            <li><%= hobbies %></li><%
             }); %>
            </ul></h6>
             <h6><%= bdate %></h6>
        </div> </div> </div>
        
<% include ../partials/footer %>