<% include ../partials/header %>
    <form action="users/already" method="post">
        <h2>Add Data</h2>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" name="email" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Your E-mail</small>
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" name="pwd" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Your Password</small>
        </div>
        
        <button type="submit" class="btn btn-danger">Add</button>
    </form>
    <% include ../partials/footer %>