<% include ../partials/header %>
<!-- Jumbotron -->
    <div class="jumbotron text-center">
        <h1 class="display-3 ">Dynamic Web</h1>
        <p class="lead">CHAWEEWAN SOOKWAN</p>
        <hr class="my-2">
        <p>5930213025</p>
        <p>SOFTWARE ENGINEERING</p>
        <a name="view" id="view" class="btn btn-success" href="about" role="button">View</a>
    </div>
<% include ../partials/footer %>